<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">
  <h1>Railway Stations
    <span class="pull-right"><small>
    <%= link_to t('admin.railway_stations.new.title'), new_admin_railway_station_path, class: "btn btn-success" %>
    </small></span>
  </h1>
  </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render @railway_stations %>
      </tbody>
    </table>
</div>
</div>
