<footer class="footer navbar navbar-default navbar-fixed-bottom text-center">
<div class="container">
  &copy; 2016 Dvoryankin Dmitry. Training project in an <a href="http://www.thinknetica.com/">online school Thinknetica</a>
</div>
</footer>
