<p id="notice"><%= notice %></p>

<h1>Вагоны</h1>

<%= link_to 'Главная страница', welcome_index_path %>
<br>
<br>

<table>
  <thead>
  <tr>
    <th>Тип</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @carriages %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить вагон', new_carriage_path %>

