<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Tickets</h1>
  </div>
    <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Train number</th>
      <th>Start station</th>
      <th>End station</th>
      <th>User</th>
      <th>Passenger</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tickets%>
  </tbody>
</table>
</div>
</div>
