<tr>
  <td><%= train.number %></td>
  <td><%= link_to t('common.show'), [:admin, train], class: "text-info" %></td>
  <td><%= link_to t('common.edit'), edit_admin_train_path(train), class: "text-success" %></td>
  <td><%= link_to t('common.destroy'), [:admin, train], method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></td>
</tr>
