<h1>Dashboard</h1>

<div>
  <ul>
    <li><%= link_to t('admin.railway_stations.list'), admin_railway_stations_path %></li>
    <li><%= link_to t('admin.routes.list'), admin_routes_path %></li>
    <li><%= link_to t('admin.trains.list'), admin_trains_path %></li>
    <li><%= link_to t('admin.tickets.list'), admin_tickets_path %></li>
  </ul>
</div>
