<p>Учебный проект. 2016 год, <%= link_to 'школа Thinknetica', url_for('http://thinknetica.com') %></p>
<p>Учебный проект. 2016 год, <%= link_to 'школа Thinknetica', url_for('http://thinknetica.com') %></p>
