<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  "(с) 2017 Дворянкин Дмитрий. Учебный проект в онлайн-школе Thinknetica"

</html>
